.grid {
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 100px;
  height: 100px;
}

.snake {
  background-color: olive;
}

.apple {
  background-color: red;
}